body {
    margin : 0;
}

.App {
    background-color: rgba(0,0,0,0.4);
}

a {
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

@mixin center ($justify, $align, $direction){
    display : flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

.center {
    @include center(center, center, none)
}
.centerColumn {
    @include center(center, center, column)
}
.spaceAround {
    @include center(space-around, center, none)
}
.spaceAroundColumn {
    @include center(space-around, center, column)
}
.spaceBetween {
    @include center(space-between, center, none)
}
.spaceBetweenColumn {
    @include center(space-between, center, Column)
}